.professional_info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    font-size: 30px;
    font-weight: 600;
  }

  .profession {
    font-size: 18px;
    color: #f00;
    font-weight: 600;
  }

  .about {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

  .experience {
    .clients-reached {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 300px;
      width: 300px;
      background-color: #172d41;
      padding: 0 10px;

      .number {
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        background: -webkit-linear-gradient(#0a2540, rgb(0, 110, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .info {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-align: center;
      }

      .most-recent {
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .heading {
          font-size: 16px;
          font-weight: 600;
          color: #f00;
        }

        .flex {
          margin-top: 5px;
          display: flex;
          justify-content: space-between;
          width: 100%;

          .client,
          .date-served {
            font-size: 14px;
            font-weight: 600;
          }
        }
        .professional-rating {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .statistical-reach {
      height: 300px;
    }

    .profession-certifications {
      width: 300px;
      height: 300px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      overflow-y: auto;

      .certification {
        display: flex;
        min-height: 67.5px;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(10, 37, 64, 0.4);
        color: #0a2540;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;

        &:hover {
          background-color: #0a2540;
          color: #fff;
          border: none;
        }
      }
    }
  }

  button {
    width: 180px;
    height: 45px;
    background-color: #0a2540;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    margin-top: 30px;

    &:hover {
      opacity: 0.7;
    }
  }
}
